/* ===== GLOBAL ===== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    line-height:1.6;
}


/* ===== HEADER ===== */

.header{
    background:#0f172a;
    padding:15px 60px;
    position:fixed;
    width:100%;
    top:0;
    z-index:1000;
}

.nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    color:#fff;
    font-weight:600;
}

.nav-links{
    list-style:none;
    display:flex;
    gap:25px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-weight:500;
    transition:0.3s;
}

.nav-links a:hover{
    color:#38bdf8;
}


/* ===== HOME ===== */

.home{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#0f172a,#1e293b);
    color:white;
    text-align:center;
    padding-top:80px;
}

.home-content h1{
    font-size:45px;
    margin-bottom:10px;
}

.home span{
    color:#38bdf8;
}

.home-content h3{
    font-weight:400;
    margin-bottom:10px;
}

.home-content p{
    max-width:500px;
    margin:auto;
}

.btn{
    display:inline-block;
    margin-top:20px;
    padding:12px 28px;
    background:#38bdf8;
    color:white;
    text-decoration:none;
    border-radius:6px;
    transition:0.3s;
}

.btn:hover{
    background:#0284c7;
}


/* ===== SECTIONS ===== */

section{
    padding:100px 60px;
}

h2{
    text-align:center;
    margin-bottom:30px;
    font-size:32px;
}


/* ===== ABOUT ===== */

.about{
    background:#f1f5f9;
}

.about-container{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:50px;
    flex-wrap:wrap;
}

.about-text{
    max-width:500px;
}

.about-text p{
    margin-bottom:15px;
}

.about-img img{
    width:250px;
}


/* ===== SKILLS ===== */

.skills-container{
    max-width:500px;
    margin:auto;
}

.skill-box{
    margin:20px 0;
}

.skill-bar{
    background:#e2e8f0;
    height:10px;
    border-radius:5px;
}

.skill-bar div{
    height:10px;
    border-radius:5px;
}

.html{
    width:80%;
    background:#f97316;
}

.css{
    width:70%;
    background:#3b82f6;
}

.js{
    width:60%;
    background:#eab308;
}


/* ===== CONTACT ===== */

.contact{
    background:#0f172a;
    color:white;
    text-align:center;
}

.contact-box{
    margin-top:20px;
}


/* ===== FOOTER ===== */

footer{
    background:#020617;
    color:white;
    text-align:center;
    padding:15px;
}


/* ===== RESPONSIVE ===== */

@media(max-width:768px){

    .header{
        padding:15px 20px;
    }

    section{
        padding:80px 20px;
    }

    .home-content h1{
        font-size:32px;
    }

    .about-container{
        flex-direction:column;
        text-align:center;
    }

    .about-img img{
        width:180px;
    }

}